<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
	</system.web>
	<system.webServer>
		<handlers>
      <add name="GetBasket" path="/baskets/*" verb="GET" type="CheckoutKataApi.Web.GetBasketHandler"/>
      <add name="CreateBasket" path="/baskets" verb="POST" type="CheckoutKataApi.Web.CreateBasketHandler"/>
			<add name="HttpHandler" path="/" verb="*" type="CheckoutKataApi.Web.HttpHandler"/>
		</handlers>
	</system.webServer>
</configuration>
